*{
  margin: 0;
padding: 0%;
font-family: 'Berkshire Swash', cursive;
}

body{

  height: 100vh;
  width: 100%;
  background: linear-gradient(123deg, #2E99B0 0%, #2E99B0 40%, #FCD77F calc(40% + 1px), #FCD77F 60%, #FF2E4C calc(60% + 1px), #FF2E4C 75%, #1E1548 calc(75% + 1px), #1E1548 100%);
}